# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Temporary files
temp_page.html
changed_files.txt
*.png
*.jpg
!.public/*.png
!.public/*.jpg
!.public/qrcode/*.png
!.public/qrcode/*.jpg

# Separate project folder
neuroforge_ai/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
dist-ssr
*.sln
*.sw?
